@mixin displayFlex(
  $justifyContent: center,
  $alignItems: center,
  $flexDirection: row,
  $wrap: nowrap
) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
  flex-wrap: $wrap;
}

@mixin btnReset {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  color: white;
}
