@import "../../styles/variables";
@import "../../styles/mixins";

.card {
  border-radius: 10px;

  &__button {
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid $red;
  }
}

.btn-red {
  background-color: $red;
}

.btn-transparent {
  background: none;
}
