@import "../../styles/variables";
@import "../../styles/mixins";

.card {
  @include displayFlex(flex-start, center, column);
  border-radius: 10px;
  padding: 37px 62px 35px 70px;
  background-color: $grey;
  gap: 48px;
  box-sizing: border-box;
  width: 375px;

  &__header {
    @include displayFlex(space-between, center, column);
    gap: 18px;
    margin: 0 0 8px 0;

    &__title {
      color: white;
      font-size: 25px;
      font-weight: 600;
    }

    &__subtitle {
      color: white;
      font-size: 36px;
      font-weight: 700;
    }

    &__division {
      color: white;
      font-size: 22px;
      font-weight: 700;
    }
  }

  &__button {
    @include btnReset;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid $red;
    padding: 15px 63px 14px 59px;
    border-radius: 4px;
  }

  .pro {
    background-color: $red;
    padding: 15px 48px 14px 56px;
  }

  &__list {
    @include displayFlex(flex-start, flex-start, column);
    list-style: none;
    color: white;
    padding: 0;

    &__item {
      color: white;
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;

      &::before {
        content: "•";
        color: red;
        margin-right: 8px;
      }
    }
  }
}

.btn-red {
  background-color: $red;
}

.btn-transparent {
  background: none;
}
